# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast

# MLflow
mlruns/
mlartifacts/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment
.env

# IDEs
.vscode/
.idea/

# Models (optional to ignore, but usually small files are okay)
# models/*.joblib
